#middleHeader {
  width: 100%;
  transition: all 0.3s ease;
  z-index: 99;

}

.sticky-activate {
  position: fixed;
  top: 85px;
  left: 0;
}

.sticky-activate {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
body {
  scroll-behavior: smooth;
}

/* #middleHeader .nav{
    flex-wrap: nowrap;
} */

#middleHeader .nav li a{
  color: white;
  text-transform: uppercase;
}

header .navbar {
    height: 85px;
}